<div class="panel panel-default">
  <div class="panel-heading">
		<h2>Acquisition Form</h2>
	</div>

	<div class="panel-body">
		<div class="input-group">
        <span class="input-group-addon">Medical Centre Name: </span>
        <input type="text" class="form-control" placeholder="Name">        
    </div>

		  <li class="list-group-item">Address</li>
		  <li class="list-group-item">
		  	<div class="input-group">
	        <span class="input-group-addon">Street: </span>
	        <input type="text" class="form-control" placeholder="Street Name">  
	        <span class="input-group-addon">Suburb: </span>
	        <input type="text" class="form-control" placeholder="Suburb Name">  
    		</div>
    	</li>

    <div class="input-group">
        <span class="input-group-addon">Phone Number: </span>
        <input type="text" class="form-control" placeholder="####-###-###">    
    </div>

    <div class="input-group">
        <span class="input-group-addon">Contact Person: </span>

        <div class="row">
				  <div class="col-lg-6">
				    <div class="input-group">
				      <div class="input-group-btn">
				        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Title <span class="caret"></span></button>
				        <ul class="dropdown-menu">
				          <li><a href="#">Dr.</a></li>
				          <li><a href="#">Mr.</a></li>
				          <li><a href="#">Mrs.</a></li>
				          <li><a href="#">Miss.</a></li>
				        </ul>
				      </div><!-- /btn-group -->
				      <input type="text" class="form-control" placeholder="Person Name">
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
				</div><!-- /.row -->
		</div>

		<div class="input-group">
        <span class="input-group-addon">Position: </span>
        <div class="row">
				  <div class="col-lg-6">
				    
				      <div class="input-group-btn">
				        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Title <span class="caret"></span></button>
				        <ul class="dropdown-menu">
				          <li><a href="#">Owner</a></li>
				          <li><a href="#">Partner</a></li>
				          <li><a href="#">Practice Manager</a></li>
				          <li><a href="#">Other</a></li>
				        </ul>
				      </div><!-- /btn-group -->				    
				  </div><!-- /.col-lg-6 -->
				</div><!-- /.row -->    
    </div>

    <div class="input-group">
        <span class="input-group-addon">Email Address: </span>
        <input type="text" class="form-control" placeholder="####@###.###">    
    </div>
		
	</div>
</div>
